#buddypress {

   #item-header {
      display: flex;
      @extend .jumbotron;
      padding: 10px;
      flex-wrap: wrap;

      align-items: center;
      justify-content: space-between;

      #item-header-avatar {
         max-width: 33vw;
         margin-right: 10px;

         img.avatar {
            height: auto;
            margin: 0;
            border-radius: 50%;
            border: 2px solid $primary-color;
         }
      }
      #item-header-content {
         flex: 1;
      }
      #item-nav {
         align-self: flex-end;
      }
   }


}
