@mixin jumbotron {
   background-color: hsla(0, 0%, 98%, 1);
   border: 1px solid #eee;

   &.nox {
      background-color: hsla(300, 5%, 5%, 1);
      border: 1px solid #111;
   }
}


#main {
   padding: 0 100px;
   margin: 0 auto;

   @include side-padding();
   max-width: $max-width;
}

.standard-featured { //Recommended aspect ratio - 5:8 (1:1.6)
   height: auto;

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   img {
      max-width: 100%;
      height: auto;
      transition: all 50ms ease;
   }
}

.entry-title {
   margin: 0;
   color: $primary-color;
   a:hover {
      color: #ce1e22;
   }
}
.entry-author {
   color: #777;
   a {
      color: #333;

      &.nox {
         color: #aaa;
      }
   }
}
.entry-content {
   width: 100%;

   &.nox {
      color: $white1;
   }
}

//Home only
.home,
.author {
   #main {
      margin-top: 75px;
   }

   .container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px 15px;

      .post {
         display: flex;
         box-shadow: 0 -2px 0 $primary-color;
      }
   }

   .entry-title {
      margin-top: 0;
   }

   .entry-content {
      @include jumbotron;
      padding: 10px;
   }

   .standard-featured {
      max-width: 30vw;
      width: 150px;

      img {
         transition: transform 100ms ease;
         &:hover {
            transform: translateY(5px);
         }
      }
   }

   @media (min-width: 800px) {
      .container {
         grid-template-columns: auto auto;
      }
   }

   .author-title {
      width: 100%;
      margin: 0 0 50px 0;
      @include jumbotron;
      border-left: 10px solid $primary-color;
      padding-left: 10px;

      &.nox {
         color: $white1;
         border-left: 10px solid $primary-darker;
      }
   }
}

//Single-posts only
.single-post {

   .entry-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 75px;

      @include jumbotron;

      text-align: center;

      .standard-featured {
         max-height: 480px;
         max-width: 65vw;
         width: 300px;
         flex-shrink: 0;
      }
      .entry-headercontent {
         margin-left: 20px;
         .entry-title {
            margin-top: 10px;
            margin-bottom: 0;
         }
      }
   }

   @media (min-width: 800px) {
      .entry-title {

      }
      .entry-header {
         flex-direction: row;
         text-align: left;
      }
   }
}
