#wpcomm {
	.avatar {
		border-radius: 50%;
		border: 1px solid $primary-color;
		padding: 0;
	}



	.wc-form-wrapper,
	.wpdiscuz-subscribe-bar,
	.wpdiscuz-front-actions {
		border: 0;
		background-color: $white3;
		.nox & {
			background-color: $base4;
		}
	}

	.wc-comment {
		margin-bottom: 10px;

		&.wc-reply .wc-comment-right {
			background-color: $white3;
			.nox & {
				background-color: $base4;
			}
		}
		.wc-comment-right {
			border: 1px solid transparent;
			border-bottom-right-radius: 35px;
			border-top-left-radius: 15px;
			border-bottom: 1px solid rgba(136, 136, 136, .3);

			box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.05);

			.nox & {
				background-color: #1a1515;
				border-color: #111;
				border-bottom: 1px solid rgba(136, 136, 136, .3);
			}

			.wc-comment-header {
				box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.05);
				border: 0;
			}

			.wc-vote-link,
			.wc-vote-result,
			.wpf-cta,
			.wc-comment-footer,
			.wc-cta-button  {
				border-color: transparent;
			}

			.wc-cta-button {
				background: rgba(136, 136, 136, .3);
				.nox & {
					color: #aaa;
				}
			}

			.wc-comment-author {
				color: $primary-color !important;
				border-bottom: 1px solid $primary-color;
				//padding: 5px 15px;
				.nox & {
					color: $primary-color;
				}
			}
			.wc-comment-author, .wc-comment-author a {
				font-weight: bold;
				font-size: 20px;

				@media screen and (max-width: 650px) {
					font-size: 20px;
				}
			}
		}

		.wc-comment-left {
			.wc-comment-label {
				background: $white1;
				border-bottom: 0 !important;
				border-radius: 10px;
				box-shadow: 0px 10px 9px -7px rgba(0,0,0,0.05);

				.nox & {
					background: #310b0b;
				}
			}

			.wpd-xborder {
				border-right: 1px solid $primary-color;
			}
		}
	}

	.wc-sticky-comment.wc-comment .wc-comment-right .wc-comment-header {
		background: #ffefef;
		border-bottom: 1px dotted $primary-color;
		.nox & {
			background: #310b0b;
		}
		.wpd-sticky {
			color: $primary-color;
			border: 1px dotted $primary-color;
		}
	}

}
