#primary {
   padding: 0 100px;

   @include side-padding();
}

.container {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 10px 15px;

}

.entry-content{
   display: flex;
}

.standard-featured { //Aspect ratio - 5:8 (1:1.6)
   min-width: 150px;
   height: auto;

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   img {
      max-width: 100%;
      height: auto;
   }
}

@media (min-width: 800px) {
   .container {
      grid-template-columns: auto auto;
   }
}
