
$sidenav-width: 280px;

.sidenav {
   background-color: $base3;
   background-image: url('../img/bg-img-2.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   width: 100%;
   max-width: $sidenav-width;

   color: $white1;
   position: fixed;
   z-index: 9;
   top: 0;
   right: 0;
   bottom: 0;
   min-height: 100vh;

   box-shadow: 50px 0 300px black, 1px 0 20px rgba(0,0,0,0.50);

   transition: transform 320ms ease;

   &.sidenav-closed {
      transform: translateX(100%);
      box-shadow: 0 0 0 !important;

      .sidenav-scroll {
         display: none;
      }
   }

   .nox & {
      box-shadow: -0.5px 0 0 $primary-color, 10px 0 300px black;
   }
}
.sidenav-container {
   height: 100%;
   width: 100%;
   max-width: $sidenav-width;
   margin-bottom: 75px;

   overflow: auto;
   padding-top: 40px;

   &::-webkit-scrollbar-track, &::-webkit-scrollbar {
   	background-color: $base1;
   }
   &::-webkit-scrollbar {
   	width: 7px;
   }
   &::-webkit-scrollbar-thumb {
   	background-color: $primary-darker;
   	border-radius: 10px;
   }
}

.sidenav-close {
   position: fixed;
   z-index: 9;
   top: 0;
   right: $sidenav-width;
   padding: 15px;
   cursor: pointer;


   &:hover,
   &:focus {
      color: $primary-color;
   }

   .sidenav-closed & {
      display: none;
   }
}
