
$primary-color: #B20004;
$secondary-color: #d10000;
$primary-darker: #5f0002;
$base1: #0a090a;
$base2: #111017;
$base3: #2e323b;
$base4: hsl(0, 10%, 6%);
$base5: hsla(300, 5%, 5%, 1);

$white1: #f5f5f5;
$white2: #ddc4a3;

$max-width: 1200px; //content max-width
$max-width-text: 800px; //text max-width


//Mixins

@mixin animate ( $attr, $time){
    -webkit-transition: $attr $time ease;
    -moz-transition: $attr $time ease;
    -ms-transition: $attr $time ease;
    -o-transition: $attr $time ease;
    transition: $attr $time ease;
}

@mixin transform( $val ) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@mixin fullwidth (){
	width: 100%;
	height: auto;
}

@mixin side-padding($padding-desktop: 15px, $padding-mobile: 3px) {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;
  @media (min-width: 800px) {
	  padding-right: $padding-desktop;
	  padding-left: $padding-desktop;
  }
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity: 0;  /* make things invisible upon start */
    animation: fadeIn ease 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration: 0.5s;
   // animation-delay: 0.1s
}
.fade-in-2 { // same but no delays between each
    opacity: 0;
    animation: fadeIn ease 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.jumbotron {
   background-color: hsla(0, 0%, 98%, 1);
   border: 1px solid #eee;
   transition: all 0.15s ease-in-out;

   .nox & {
      background-color: $base5;
      border: 1px solid #111;
   }
}
