@import 'variables'; //Variáveis globais

#buddypress {
   p {
      text-indent: 0;
   }

   .standard-form {

      li {
         float: none;
      }

      label {
         display: inline-block;
         margin-top: 30px;
         margin-bottom: 10px;
         font-size: 18px;
         font-weight: bold;
         color: #999;


      }


      fieldset {
         @extend .jumbotron;

         legend {
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
            color: #999;
         }

         .field-visibility-settings,
         .field-visibility-settings-toggle {
            button {
               color: #555;
               border: 1px solid #ccc;
               background: #f7f7f7;
               box-shadow: 0 1px 0 #ccc;
               vertical-align: top;

               font-size: 13px;
               line-height: 26px;
               height: 28px;
               padding: 0 10px 1px;

               border-radius: 3px;

               cursor: pointer;
            }

            .current-visibility-level {
               font-weight: bold;
            }

            & > span {
               vertical-align: middle;
               margin-right: 10px;
            }
         }

         .field-visibility-settings {
            display: none !important;
         }
         .field-visibility-settings-open {
            display: block !important;
         }
         .field-visibility-settings-toggle {
            font-size: 14px;
            color: #999;
         }
         .field-visibility-settings-notoggle {
            display: none;
         }
         .field-visibility-settings-close {
            margin-left: 20px;
         }


         .radio {
            label {
               display: block;
               margin: 0;
            }
         }

         .description {
            margin: 2px 0 5px;
            font-size: 14px;
            font-style: italic;
            color: #666;
         }
      }
   }

   #signup_form.standard-form {
      #profile-details-section,
      #basic-details-section,
      #blog-details-section {

         float: none;
         width: 100%;

         @media (min-width: 600px) {
            width: 48%;
         }
      }

      @media (min-width: 600px) {
         #profile-details-section {
            float: right;
         }
         #basic-details-section {
            float: left;
         }
      }


      .error {
         padding: 5px;
         background-color: hsla(359, 100%, 35%, .05);
         border-left: 5px solid $primary-color;
         color: $primary-color;
      }
      #pass-strength-result {
         font-weight: bold;
         padding: 5px;
         display: none;

         &.short,&.bad,&.good,&.strong {
            display: block;
         }
         &.short { //muito fraca
            border-top: 2px solid $primary-color;
            color: $primary-color;
         }
         &.bad { //fraca
            border-top: 2px solid #b25500;
            color: #b25500;
         }
         &.good { //medio
            border-top: 2px solid #a4b300;
            color: #a4b300;
         }
         &.strong { //forte
            border-top: 2px solid #00b307;
            color: #00b307;
         }
      }

      .submit {
         text-align: center;
      }
   }











   h2 {
      color: $primary-color;
   }
   ul {
      li {
         list-style: none;
      }
   }

   #item-header {
      display: flex;
      @extend .jumbotron;
      padding: 10px;
      flex-wrap: wrap;

      align-items: center;
      justify-content: center;

      #item-header-avatar {
         max-width: 33vw;
         margin-right: 10px;

         img.avatar {
            height: auto;
            margin: 0;
            border-radius: 50%;
            border: 2px solid $primary-color;
         }
      }
      #item-header-content {
         min-width: 100px;
         flex: 1;
         h2 {
            font-size: 32px;
         }
      }
      #item-nav {
         align-self: flex-end;
         flex: 1;

         ul {
            li {
               margin: 2px 0;

               a {
                  padding: 10px;
                  display: block;
                  box-shadow: 2px 0 0 #dedede;

                  transition: all 0.15s ease;

                  &:hover,
                  &:focus {
                     color: $primary-color;
                     box-shadow: 2px 0 0 #b0b0b0;
                  }

                  .nox & {
                     box-shadow: 2px 0 0 $base3;

                     &:hover,
                     &:focus {
                        box-shadow: 2px 0 0 $primary-darker;
                     }
                  }
               }

               &.current a {
                  box-shadow: 2px 0 0 $primary-color;
                  color: $primary-color;

                  .nox & {
                     text-shadow: 0px 0px 10px $primary-color,0px 0px 3px $primary-color;
                  }
               }
            }
         }
      }
   }

   #item-body {

      .item-list-tabs {
         overflow: auto;
      }
      .item-list-tabs ul,
      .button-nav {
         padding: 0;
         margin: 0;
         overflow: auto;

         display: flex;

         li {
            flex: 1;
            float: left;

            a {
               display: block;
               text-align: center;
               padding: 5px;

               background-color: hsla(0, 0%, 98%, 1);
               border: 1px solid #eee;
               transition: all 0.15s ease-in-out;
               border-top: 2px solid transparent;

               .nox & {
                  background-color: $base2;

                  border: 1px solid $base4;
                  border-top: 2px solid transparent;
               }

               &:hover {
                  color: $primary-color;
               }
            }
            &.current a {
               border-top: 2px solid $primary-color;
               color: $primary-color;

               .nox & {
                  text-shadow: 0px 0px 10px $primary-color,0px 0px 3px $primary-color;
               }
            }

            form {
               display: block;
               text-align: center;
               padding: 5px;

               transition: all 0.15s ease-in-out;
            }
         }
      }

      .profile {
         margin-top: 30px;


         .button-nav {
            li {
               float: left;
            }

            &:after {
               content: '';
               display: block;
               clear: both;
            }
         }

         .profile-fields {
            width: 100%;
            border-collapse: collapse;

            tr {
               @extend .jumbotron;
               border-bottom: 3px solid #eee;
               .nox & {
                  border-bottom: 3px solid #111;
               }

               .label {
                  width: 100px;
                  padding: 5px;
                  font-weight: bold;
                  color: #888;
                  .nox & {
                  }
               }
               .data {
                  padding-left: 20px;
               }
            }

         }
      }

   }

   .item-list-tabs {
      ul li:nth-child(1):last-child {
         display: none;
      }
   }


   .drag-drop {
      .drag-drop-inside {
         p {
            text-align: center;
         }

         .drag-drop-buttons {
            label {
               display: none;
            }
            #bp-browse-button {
               color: #555;
               border: 1px solid #ccc;
               background: #f7f7f7;
               box-shadow: 0 1px 0 #ccc;
               vertical-align: top;

               font-size: 13px;
               line-height: 26px;
               height: 28px;
               padding: 0 10px 1px;

               border-radius: 3px;

               cursor: pointer;
            }
         }
      }
   }

}
