@import 'variables'; //Variáveis globais

@import 'header'; //cabeçário
@import 'sidenav'; //barra lateral esquerda
@import 'widgets'; //custom widgets
@import 'posts'; //posts styling
@import 'posts-comments'; //comments styling
@import 'posts-comments-wpdiscuz.scss'; //wpdiscuz comments styling

body, html {
   background: $white1;
   padding: 0;
   margin: 0;

   font-family: 'Source Sans Pro', sans-serif;
   transition: all 0.15s ease-in-out;
   &.nox {
      background: $base1;
      color: $white2;

      &::-webkit-scrollbar-track, &::-webkit-scrollbar {
         background: $base1;
      }
   }
   &.page-overlay {
     overflow: hidden;
   }

   &::-webkit-scrollbar-track, &::-webkit-scrollbar {
   	background-color: $white1;
   }
   &::-webkit-scrollbar {
   	width: 7px;
   }
   &::-webkit-scrollbar-thumb {
   	background-color: $primary-darker;
   	border-radius: 0px;
   }
}
.header-container,
#wrapper,
.desco-footer {
   transition: filter 0.25s ease;
   .page-overlay & {
      backface-visibility: hidden;
      perspective: 1000;
      transform: translate3d(0,0,0);
      transform: translateZ(0);
      filter: grayscale(0.5);
   }
}
h1 {
   font-size: 2em;
}
p,h1,h2,h3 {
   font-family: Georgia,Cambria,Times New Roman,Times,sans-serif;
}
p {
   color: rgba(0,0,0,.8);
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 16px;
   letter-spacing: -.004em;
   line-height: 1.58;

   .nox & {
      color: $white2;
   }
}
p.old {
   font-size: 16px;
   line-height: 1.5em;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		@extend a;
	}
}
img {
   max-width: 100%;
}

#wrapper {
   min-height: calc(100vh - 199px);
   margin-top: 25px;
}

footer.desco-footer {
   text-align: center;
   background-color: $primary-darker;
   color: $white1;
   padding: 30px;
   margin-top: 50px;

   .nox & {
      background-color: #1b0606;
      box-shadow: 0 -0.5px 0 $primary-color, inset 0px 9px 15px -9px #B20004;
   }
}

label {
   font-size: 18px;
   font-weight: bold;
   color: #999;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
   width: 100%;
   box-sizing: border-box;

   font-family: inherit;
   font-size: 25px;
   color: $primary-darker;
   outline: none;

   padding: 5px;
   padding-left: 10px;
   border: none;
   box-shadow: 0 1.5px 3px 0px rgba(0,0,0,0.2);

   .nox & {
      background-color: #1e1f25;
      color: $white1;
      box-shadow: 0 1px 0 $primary-darker;
   }
}
input[type="submit"] {
   color: $primary-color;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   font-size: 16px;

   border-radius: 10px;
   border: 1px solid $primary-color;
   background-color: transparent;

   margin-top: 30px;
   padding: 15px 25px;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   &:hover,
   &:active {
      background-color: rgba(255,0,0, 0.05);
      transform: translateY(-2px);
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0,0,0,0.19);
   }

   .nox & {
      filter: drop-shadow( 0 0 5px $primary-color);
   }
}


//Cabeçário da página inicial
.home-header {
   margin-bottom: 50px;
}




.header-tools {
   box-sizing: border-box;
   padding: 15px;
   pointer-events: none;

   position: fixed;
   width: 100%;
   z-index: 3;
   font-size: 40px !important;

   display: flex;
   justify-content: space-between;
   align-items: center;

   #sidenav-open,
   #nox {
      pointer-events: auto;
      width: 55px;
      line-height: 55px;

      display: flex;
      justify-content:center;
      align-content:center;
   }

   #logged-avatar {
      margin-left: auto;
      display: flex;
      align-items: center;

      img {
         pointer-events: auto;

         height: 45px;
         border: 1px solid $primary-color;
         border-radius: 50%;

         cursor: pointer;
      }
   }

   #sidenav-open {
      color: $primary-color;
      //color: #862d2e;
      //color: #993333;

      transition: transform 320ms ease;
      filter: drop-shadow(0 1px 0 $base3);
      transition: all 320ms ease;

      &:hover,
      &:focus {
         color: $primary-color;
         transform: translateY(3px);
         cursor: pointer;
         filter: drop-shadow(0 1px 0 $base2);
      }
      .nox & {
         filter: drop-shadow(0 0 5px $primary-color);
      }
      &.sidenav-opened {
         //margin-left: $sidenav-width;
      }
   }


   //--- Botão 'Acender a luz' ---//
   #nox {
      background: $primary-color;
      background-color: rgba(255,255,255, 0.15);
      border: 1px solid $primary-color;
      border-radius: 100%;

      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      color: $white1;
      color: $primary-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: color 0.2s;

      //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      will-change: transform;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      &:hover,
      &:active {
         background-color: rgba(255,200,200, 0.15);
         transform: translateY(3px);
         cursor: pointer;
         //box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.23);
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .nox & {
         box-shadow: 0 0 20px $primary-color;

         &:hover {

         }
      }
   }

}

.highlight {
   background-color: rgba(255, 131, 73, 0.08);
}

#page-overlay {
   position: fixed;
   display: none;
   background-color: rgba(0, 0, 0, 0.5);
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 7;

   body.page-overlay & {
      display: block;
   }
}
