@import 'variables'; //Variáveis globais

@import 'header'; //cabeçário
@import 'sidenav'; //barra lateral esquerda
@import 'widgets'; //custom widgets
@import 'posts'; //posts styling
@import 'buddypress'; //buddypress stuff styling

body, html {
   background: $white1;
   padding: 0;
   margin: 0;

   font-family: 'Source Sans Pro', sans-serif;
   transition: all 0.15s ease-in-out;
   &.nox {
      background: $base1;
   }
}
h1 {
   font-size: 2em;
}
p {
   font-size: 16px;
   line-height: 1.5em;
   &.nox {
      color: $white1;
   }
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		@extend a;
	}
}
img {
   max-width: 100%;
}

#wrapper {
   min-height: calc(100vh - 199px);
   margin-top: 25px;
}

footer.desco-footer {
   text-align: center;
   background-color: $primary-darker;
   color: $white1;
   padding: 30px;

   &.nox {
      background-color: #1b0606;
      box-shadow: 0 -0.5px 0 $primary-color, inset 0px 9px 15px -9px #B20004;
   }
}


//--- Botão 'Acender a luz' ---//
#nox {
   background: $primary-color;
   width: 55px;
   line-height: 55px;
   border-radius: 100%;
   display:inline-block;

   position: fixed;
   top: 30px;
   right: 30px;
   z-index: 1;
   opacity: 0;

   display: flex;
   justify-content:center;
   align-content:center;

   color: $white1;
   text-transform: uppercase;
   font-size: 40px;
   letter-spacing: 2px;
   transition: color 0.2s;

   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   &:hover,
   &:active {
      transform: translate(0,-1px);
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.23);
   }
   &.nox {
      box-shadow: 0 0 20px $primary-color;
   }
}

.highlight {
   background-color: rgba(255, 131, 73, 0.08);
}
